
html >*{
    color: #d4d4d4 !important;
    background-color: #1e1e1e !important;
    font-family: 'Roboto', sans-serif;
    padding-left: 20px;
    padding-right: 20px;
}
p, ul, h1, h2, h3, h4, h5, h6{
    margin-bottom: 2px;
}

h3{
    font-size: 1.6rem;
}

h4{
    font-size: 1.15rem;
}

#app{
    height: 100%;
    padding: 15px;
}

.policies{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content:start;
    align-content: flex-start;
    overflow-y: auto;
    overflow-x: hidden;
    height: 100%;
    font-size: 0.8rem;
}
.active{
    font-weight: bold;
    font-size: 1rem;
}
.policy{
    display: block;
    width: calc(25% - 20px);
    margin: 10px;
    padding: 7px;
    border: 1px solid rgba(80, 80, 80, 0.74);
    border-radius: 5px;
    font-size: 0.8rem;
}

.full-policy{
    display: block;
    width: calc(100% - 30px);
    min-height: 120px;
    margin: 15px;
    padding: 7px;
    border: 1px solid rgba(80, 80, 80, 0.74);
    border-radius: 2px;
    font-size: 0.8rem;
}

ul{
    list-style: none;
}

.link{
    text-decoration: underline;
    color: cyan;
    cursor: pointer;
}

.idea-groups{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    overflow-y: auto;
    overflow-x: hidden;
    height: 100%;
    font-size: 0.8rem;
}

.idea-group{
    display: block;
    width: calc(100% - 30px);
    margin-top: 15px;
    border: 1px solid rgba(80, 80, 80, 0.74);
    border-radius: 5px;
}
.idea-group-top{
    padding: 10px;
}
.sideways{
    transform: rotate(90deg);
    font-size: 0.7rem;
}


.idea-group-bonuses{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    overflow-y: auto;
    overflow-x: hidden;
}

.idea-num{
    border-left: 1px solid #1e1e1e;
    height: 100%;
}

.idea-group-bonus{
    display: block;
    width: calc(25% - 20px);
    margin: 10px;
    background-color: #333333;
    border-radius: 5px;
    min-height: 40px;
}

.bonus-detail{
    margin: 3px;
}

.policies-page, .idea-groups-page, .policy-page, .idea-group-page{
    width: 100%;
    height: calc(100% - 120px);
} 

ul{
    padding-left: 4px;
}

.bonus-image{
    height: 32px;
    width: 32px;
    margin-right: 3px;
}

.filters{
    display: flex;
    flex-direction: row;
    margin-top: 10px;
    margin-bottom: 10px;
}

.monarch-power-input{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100px;
}

.monarch-power-input img{
    height: 24px;
    width: 24px;
    border: 3px solid red;
    border-radius: 12px;
}

.monarch-power-input img.active{
    border-color: green;
}

.bonus-input, .category-input{
    width: 450px;
    margin-left: 20px;
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.bonus-input label{
    font-size:15px;
    margin-right: 5px;
}

.category-input label{
    font-size:15px;
    margin-right: 5px;
}

.bonus-input select{
    height: 24px;
    font-size: 12px;
    padding: 0;
    width: 300px;
}
.category-input select{
    height: 24px;
    font-size: 12px;
    padding: 0;
    width: 300px;
}
.tab-row{
    display: flex;
}

.tab{
    width: 25%;
    border: 1px solid rgba(80, 80, 80, 0.74);
    display: flex;
    justify-content: center;
    cursor: pointer;
}