
html >*{
    color: #d4d4d4 !important;
    background-color: #1e1e1e !important;
    font-family: 'Roboto', sans-serif;
}
p, ul, h1, h2, h3, h4, h5, h6{
    margin-bottom: 2px;
}

h3{
    font-size: 1.6rem;
}

h4{
    font-size: 1.15rem;
}

#app{
    height: 100%;
    overflow: hidden;
}

.app-container{
    height: 100%;
    padding: 15px;
    padding-top: 70px;
}

.policies{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content:start;
    align-content: flex-start;
    overflow-y: auto;
    overflow-x: hidden;
    height: calc(100%-60px);
    font-size: 0.8rem;
}
.active{
    font-weight: bold;
    font-size: 1rem;
}
.policy{
    display: block;
    width: calc(25% - 20px);
    margin: 10px;
    padding: 7px;
    border: 1px solid rgba(80, 80, 80, 0.74);
    border-radius: 5px;
    font-size: 0.8rem;
}

.full-policy{
    display: block;
    width: calc(100% - 30px);
    min-height: 120px;
    margin: 15px;
    padding: 7px;
    border: 1px solid rgba(80, 80, 80, 0.74);
    border-radius: 2px;
    font-size: 0.8rem;
}
input[type="text"].form-control{
    height: 24px;
    font-size: 0.8rem;
}
ul{
    list-style: none;
}

.link{
    text-decoration: underline;
    color: cyan;
    cursor: pointer;
}

.idea-groups{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    overflow-y: auto;
    overflow-x: hidden;
    height: calc(100% - 60px);
    font-size: 0.8rem;
}

.religions {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    overflow-y: auto;
    overflow-x: hidden;
    height: 100%;
    font-size: 0.8rem;
}

.idea-group,.country {
    display: block;
    width: calc(100% - 30px);
    margin-top: 15px;
    border: 1px solid rgba(80, 80, 80, 0.74);
    border-radius: 5px;
    height: min-content;
}
.religion-group {
    display: block;
    width: calc(100% - 30px);
    margin-top: 15px;
    padding-left: 15px;
    padding-right: 15px;
    padding-bottom: 15px;
    border: 1px solid rgba(80, 80, 80, 0.74);
    border-radius: 5px;
}

.religion-group-top {
    padding: 10px;
    padding-left: 0;
}

.religion {
    display: block;
    width: 100%;
    margin-top: 15px;
    padding: 15px;
    border: 1px solid rgba(80, 80, 80, 0.74);
    border-radius: 5px;
}

.idea-group-top{
    padding: 10px;
}
.idea-group-top h4{
    
}
.sideways{
    transform: rotate(90deg);
    font-size: 0.7rem;
}


.idea-group-bonuses, .country-bonuses{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    overflow-y: auto;
    overflow-x: hidden;
}

.idea-num{
    border-left: 1px solid #1e1e1e;
    height: 100%;
}

.idea-group-bonus{
    display: block;
    width: calc(25% - 20px);
    margin: 10px;
    background-color: #333333;
    border-radius: 5px;
    min-height: 60px;
}

.country-idea-group-bonus {
    width: calc(20% - 20px) !important;
    margin: 10px;
    border-radius: 5px;
    min-height: 60px;
    background-color: #333333;
}

.country-name h4 {
    
    font-size: 28px;
    text-align: center;
}

.bonus-detail{
    margin: 3px;
}

.policies-page,
.idea-groups-page,
.policy-page,
.idea-group-page,
.planner-page,
.countries-page,
.religions-page{
    width: 100%;
    height: calc(100% - 48px);
} 

ul{
    padding-left: 4px;
}

.bonus-image{
    height: 32px;
    width: 32px;
    margin-right: 3px;
}

.filters{
    display: flex;
    flex-direction: row;
    padding-top: 10px;
    margin-bottom: 10px;
    height: 40px;
}

.monarch-power-input{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100px;
}

.monarch-power-input img{
    height: 24px;
    width: 24px;
    border: 2px solid red;
    border-radius: 12px;
    cursor: pointer;
}

.monarch-power-input img.active{
    border-color: green;
}

.bonus-input, .category-input{
    width: 450px;
    margin-left: 20px;
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.bonus-input label{
    font-size:15px;
    margin-right: 5px;
}

.category-input label{
    font-size:15px;
    margin-right: 5px;
}

.bonus-input select{
    height: 24px;
    font-size: 12px;
    padding: 0;
    width: 300px;
}
.category-input select{
    height: 24px;
    font-size: 12px;
    padding: 0;
    width: 300px;
}
.tab-row{
    display: flex;
}

.tab{
    width: 25%;
    border: 1px solid rgba(80, 80, 80, 0.74);
    display: flex;
    justify-content: center;
    cursor: pointer;
}

.planner{
    display: flex;
    flex-direction: row;
    height: 100%;
}

.planner-idea-groups{
    width: 40%;
    height: 100%;
    padding: 10px;
    display: flex;
    flex-direction: column;
    position: relative;
}

.planner-policies {
    width: 60%;
    height: 100%;
    padding: 10px;
    position: relative;
}

.planner-policies-add, .planner-idea-groups-add {
    width: 100%;
}
.planner-bonus {
    width: 33%;
    padding: 4px;
    border: 1px solid rgba(80, 80, 80, 0.74);
    border-radius: 5px;
}
.planner-bonuses{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    overflow-y: auto;
    height: 100%;
}

.planner-idea-group-selection{
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    align-content: space-between;
}

.planner-policy-selection {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    align-content: space-between;
    overflow-y: auto;
}

.planner-idea-group {
    border: 1px solid rgba(80, 80, 80, 0.74);
    border-radius: 4px;
    padding: 4px;
    font-size: 12px;
    cursor: pointer;
}

.planner-policy .policy {
    width: auto;
    font-size: 12px;
    cursor: pointer;
}

.planner-policy .policy img{
    height: 24px;
    width: 24px;
}

.planner-policy .policy h4 {
    font-size: 16px;
}

.planner-policies-show{
    display: flex;
    flex-direction: column;
    width: 100%;
}
.planner-policies-show > div {
    height: 33%;
    display: flex;
    flex-wrap: nowrap;
    flex-direction: row;
    align-items: center;
    justify-content: start;
    overflow-x: auto;
    overflow-y: hidden;
    white-space: nowrap;
}

.planner-choice{
    border: 1px solid rgba(80, 80, 80, 0.74);
    padding: 4px;
    margin: 4px;
}

.planner-vertical-label {
    height: 100%;
    width: 30px;
    writing-mode: vertical-lr;
    text-orientation: upright;
    display: flex;
    justify-content: center;
    align-items: center;
}

.planner-policies-show img{
    align-self:center;
}

.planner-idea-group-show{
    display: flex;
    flex-direction: column;
    width: 100%;
}
    .planner-idea-group-show > div {
        height: 33%;
        width: 100%;
        display: flex;
        flex-direction: row;
        align-items: center;
        flex-wrap: wrap;
        
    }

    .planner-idea-group-show .planner-idea-group {
        font-size: 16px !important;
    }

.planner-idea-group-show img{
    align-self:center;
}

.disabled{
    cursor: not-allowed !important;
}

.app-header {
    height: 60px;
    padding: 4px;
    position: fixed;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: start;
    background-color: #333333;
    z-index: 1000;
}

.vertical-divider{
    height: 100%;
    width: 0;
    border-left: 1px solid grey;
}
.app-header-icon{
    width: 52px;
    height: 100%;
}
.app-navigation{
    height: 100%;
    width: fit-content();
    display: flex;
    flex-direction: row;
    position: relative;
}
.main-route-selection, .child-route-selection{
    width: 250px;
    height: 56px;
}
.dropdown-toggle{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items:center;
}
.dropdown-menu {
    top:calc(100% - 1px);
    width: 250px;
    min-width: 250px;
    height: fit-content();
    background-color: transparent;
    margin: 0;
    border-radius: 0;
    padding: 0;
    color: #d4d4d4 !important;
}
.dropdown-menu ul{
    padding-left: 0;
    padding-right: 0;
    width: 100%;
}

    .dropdown-menu li {
        width: 250px;
        height: 60px;
        padding: 4px;
        display: flex;
        justify-content: center;
        align-items: center;
        font-size: 1.2rem;
        background-color: #333333;
        color: #d4d4d4 !important;
        z-index: 1000;
        position: relative;
    }
.dropdown-menu li.active {
    background-color: #444444;
}
.dropdown-menu li:not(.active):hover {
    background-color: #545454;
    cursor: pointer;
}

.modal-shield{
    position: fixed;
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
    background-color: rgba(0,0,0,0.3);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 10000;
}

.modal {
    background-color: #333333;
    display: flex;
    flex-direction: column;
    min-height: 50%;
    max-height: 80%;
    min-width: 50%;
    max-width: 70%;
    z-index: 10000;
    margin: 80px 160px;
    padding: 10px;
    border: 3px solid #d4d4d4;
}

.modal .modal-title{
    display: flex;
    flex-direction: row;
    width: 100%;
    height: 120px;
    justify-content: space-between
}

.modal .modal-body{
    height: calc(100% - 120px);
    width: 100%;
}

.religion-local {
    border-left: 1px solid rgba(80, 80, 80, 0.74);
    border-right: 1px solid rgba(80, 80, 80, 0.74);
}