
html >*{
    color: #d4d4d4 !important;
    background-color: #1e1e1e !important;
    font-family: 'Roboto', sans-serif;
}
p, ul, h1, h2, h3, h4, h5, h6{
    margin-bottom: 2px;
}

h3{
    font-size: 1.6rem;
}

h4{
    font-size: 1.15rem;
}

#app{
    height: 100%;
    padding: 15px;
}

.search{
    height: calc(100% - 74px);
}

.search-bonuses{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.search-bonus{
    font-size: 10px;
    display: block;
    height: 32px;
    width: 32px;
    border: 2px solid red;
    margin: 2px;
}

.search-bonus.active{
    border-color: green;
}

.search-results{
    height: 100%;
}

.search-results-ideas{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    overflow-y: auto;
    overflow-x: hidden;
    
    font-size: 0.9rem;
}
.search-results-policies{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    overflow-y: auto;
    overflow-x: hidden;
    
    font-size: 0.9rem;
}

.search-result-idea{
    display: block;
    width: calc(25% - 30px);
    max-height: 220px;
    margin: 15px;
    padding: 7px;
    border: 1px solid grey;
    border-radius: 2px;
}
.search-result-idea .active, .search-result-policy .active{
    font-weight: bold;
}

.ideas-search{
    display:flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    font-size: 0.8rem;
}

.search-idea{
    border: 2px solid red;
    padding: 6px;
    margin: 6px;
}

.search-idea.active{
    border-color: green;
}

.search-results-policies-by-idea{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    overflow-y: scroll;
    overflow-x: hidden;
    height: 100%;
    max-height: 700px;
}

.search-result-policy{
    display: block;
    width: calc(33.3% - 30px);
    max-height: 180px;
    margin: 15px;
    padding: 7px;
    border: 1px solid grey;
    border-radius: 2px;
    font-size: 0.8rem;
}

ul{
    list-style: none;
}


.idea-groups{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    overflow-y: auto;
    overflow-x: hidden;
    height: 100%;
    font-size: 0.8rem;
}

.idea-group{
    display: block;
    width: calc(100% - 30px);
    min-height: 220px;
    max-height: 450px;
    margin: 15px;
    padding: 7px;
    border: 1px solid grey;
    border-radius: 2px;
}

.idea-group-bonuses{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    overflow-y: auto;
    overflow-x: hidden;
}

.idea-group-bonus{
    display: block;
    width: calc(25% - 20px);
    margin: 10px;
    padding: 3px;
    background-color: #333333
}

.policies-page, .idea-groups-page, .policy-page, .idea-group-page{
    width: 100%;
    height: calc(100% - 70px);
} 

.active{
    font-weight: bold;
}

ul{
    padding-left: 4px;
}

.bonus-image{
    height: 24px;
    width: 24px;
}